<div class='content'>

  <h1><%= current_question.title %></h1>
  <div class="question">
    <%= current_question.description %>
  </div>
  <div class="best-answer answers">
    <% if best_answer %>
      <h3>Best Answer</h3>
      <span>Votes: <%= best_answer.vote_total %></span>
      <span>Description: <%= best_answer.description %></span>
      <span>User: <%= best_answer.author.username %></span>
    <% end %>
  </div>


  <div class="answers">
    <h3>Answers</h3>
    <ul>
    <% current_question.answers.each do |answer| %>
     <% next if answer == best_answer %>
      <li class="answer">
        <span>Votes: <%= answer.vote_total %></span>
        <span>Description: <%= answer.description %></span>
        <span>Author: <%= answer.author.username %></span>
          <h4>Comments: <%= answer.comments.count %></h4>
          <% answer.comments.each do |comment| %>
          <ul class="comments">
            <li>
              <span>Votes: <%= comment.vote_total %></span>
              <span><%= comment.description %></span>
              <span>Author: <%= comment.author.username %></span>
            </li>
          <% end %>
          </ul>
      </li>
    </ul>
    <% end %>
  </div>

  <%= erb(:"/answers/new") %>





