<div class='content'>

  <h1><%= current_question.title %></h1>
  <div class="question">
    <%= current_question.description %>
  </div>
  <div class="best-answer answers">
    <% if best_answer %>
      <span>
      votes <%= best_answer.vote_total %>
      </span>
      <span><%= best_answer.description %></span>
      <span><%= best_answer.author.username %></span>
    <% end %>
  </div>
  <div class="answers">
    <% current_question.answers do |answer| %>
    <% next if answer == best_answer %>
      <div class="answer">
        <span>
          votes <%= answer.vote_total %>
        </span>
        <span><%= answer.description %></span>
        <span><%= answer.author.username %></span>
        <div class="comments">
          <% answer.comments.each do |comment| %>
            <span>votes <%= comment.vote_total %></span>
            <span><%= comment.description %></span>
            <span><%= comment.author.username %></span>
          <% end %>
        </div>
      </div>

    <% end %>
  </div>

</div>
