<div class='content'>

  <h1 class="hero"><%= current_question.title %></h1>
  <div class="question">
    <span class="votes">
      <%= erb :'questions/_voting', :locals => { :votable => current_question } %>
    </span>
    <div><%= current_question.description %></div>
    <div class="author">Author: <a href=<%= "/users/#{current_question.author.id}" %>><%= current_question.author.username %></a></div>
    <%= erb :'comments/questions', :locals => { :question => current_question } %>
  </div>
    <ul class="comments">
     <%= erb :'questions/_comments', :locals => { :commentable => current_question } %>
    </ul>
  </div>



  <div class="answer">
    <% if best_answer %>
    <div class="best-answer">
      <h3>Best Answer</h3>
      <div class="answer-content">
      <span class="votes">
        <%= erb :'questions/_voting', :locals => { :votable => best_answer } %>
      </span>
        <div class="author">Author: <a href=<%= "/users/#{best_answer.author.id}" %>><%= best_answer.author.username %></a></div>
        <span class="description"><%= best_answer.description %></span>
        </div>
      </div>
      <%= erb :'comments/answers', :locals => { :answer => best_answer } %>
      <h4 class="comments-header">Comments: <%= best_answer.comments.count %></h4>
        <ul class="comments">
        <%= erb :'questions/_comments', :locals => { :commentable => best_answer } %>
        </ul>
    <% end %>
  </div>


  <div class="answers">
    <h2>Answers</h2>
    <ul>
    <% current_question.answers.each do |answer| %>
      <% next if answer == best_answer %>
      <li class="answer">
        <h4 class="answer-header">Answer:</h4>
        <% if current_user && current_question.author_id == current_user.id %>
          <form action=<%= "/questions/#{current_question.id}/answers/#{answer.id}/mark-best" %> method="post">
            <button class="mark-best" type="submit">Mark Best Answer</button>
          </form>
        <% end %>
        <div class="answer-content">
        <span class="votes">
          <%= erb :'questions/_voting', :locals => { :votable => answer } %>
        </span>
          <div class="description"><%= answer.description %></div>
          <span class="author">Author: <a href=<%= "/users/#{answer.author.id}" %>><%= answer.author.username %></a></span>
        </div>
          <%= erb :'comments/answers', :locals => { :answer => answer } %>
          <h4 class="comments-header">Comments: <%= answer.comments.count %></h4>

          <ul class="comments">
          <%= erb :'questions/_comments', :locals => { :commentable => answer } %>
          </ul>
      </li>
    <% end %>
    </ul>
  </div>

  <%= erb(:"/answers/new") %>
</div>





