<div class="content">

<h1>DBC Overflow</h1>

<% Question.all.each do |question| %>
  <div class="question">
    <div class="answer-vote">
      <div class="vote-count">Votes: <%= question.vote_total %></div>
      <div class="answer-count">Answers: <%= question.answers.count %></div>
      <div class="comment-count">Comments: <%= question.comments.count %></div>
    </div>
    <div class="author-title">
      <div>
        <div><a href=<%= "/questions/#{question.id}" %>><%= question.title %></a></div>
      <div class="author">Author: <a href=<%= "/users/#{question.author.id}" %>><%= question.author.username %></a></div>
        <div class="sneak-peak">
          <%= question.sneak_peak %>
          <a class="read-more" href=<%= "/questions/#{question.id}" %>>Read more</a>
        </div>
      </div>
    </div>
  </div>
<% end %>

</div>
