<div class="content">

<h1>DBC Overflow</h1>
<% Question.all.each do |question| %>
  <div class="question">
  <span>
    <span class="votes">Votes: <%= question.vote_total %></span>
    <span class="answer-count">Answers: <%= question.answers.count %></span>
  </span>
  <div>
    <span class="author">Author: <a href=<%= "/users/#{question.author.id}" %>><%= question.author.username %></a></span>
    <a href=<%= "/questions/#{question.id}" %>><%= question.title %></a>
    <div>
      <%= question.sneak_peak %>
    </div>
  </div>
  </div>
<% end %>

</div>
