<div class="content">

<h1>DBC Overflow</h1>
<% Question.most_recent.each do |question| %>
  <span>
    <span>votes<%= question.votes.count %></span>
    <span>answers<%= question.answers.count %></span>
  </span>
  <div>
    <a href=<%= "/questions/#{question.id}" %>><%= question.description %></a>
    <span><%= question.author.username %></span>
  </div>
<% end %>

</div>
